@import "../../scss/base";

.header {
  position: relative;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  transition: all 200ms ease-out;
  height: var(--headerHeight);

  padding-block: 1.7rem;
  padding-inline: 2.4rem;
  background-color: $white;
  box-shadow: 0 1rem 2.8rem $shadowColor;


  .headerButton {
    position: absolute;
    right: 2.4rem;
    opacity: 0;

    padding-inline: 1.5rem;
    padding-block: 0.6rem;

    >span {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.8rem;
      letter-spacing: -0.055rem;
    }
  }

  .headerButtonVisible {
    opacity: 1;
    transition: all 200ms ease-out;
  }
}

.headerLogoPosition {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 200ms ease;
}

.headerLogoWithButton {
  transition: all 200ms ease;
  position: absolute;
  left: 2.4rem;
  transform: translateX(0);
}