@import "../../scss/base";

.devicesWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-block-end: 3.5rem;

  .device {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 0.8rem;

    >p {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.8rem;
    }
  }

  .deviceIcon {
    width: 1.4rem;
    height: 1.4rem;
    margin-inline-end: 0.4rem;
  }
}