// Colors

$clarioBrandColor: #5CD6C0;
$white: #FFFFFF;
$infoBgColor: #EFF1FF;
$grey: #808080;
$mainBlue: #483FDD;
$darkFont: #151D51;
$spywareColorBG: #554ee2;
$timerBlockColor: #DF723A;
$timerBlockBG: #FFF2EB;
$priceTagBG: #F2F8FF;
$amountOfDays: #6C96CE;
$shadowColor: #7680a333;