@import "../../scss/base";

.layoutBody {
  flex-grow: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;


  .footerBtnSpacing {
    margin-block-start: 4rem;
    margin-block-end: 8rem;
  }

  .footerContainerSpacing {
    background-color: $white;
    padding-block-start: 7rem;
  }
}